<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            E:\8th Semester\ICTPM Lab\final\final\final\RodTithiAurna\src\main\webapp\ProfilePics\
        </param-value>
    </context-param>
    <servlet>
        <servlet-name>bookShelf</servlet-name>
        <servlet-class>com.tithi.bookworm.bookShelf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shelf</servlet-name>
        <servlet-class>com.tithi.bookworm.Shelf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rate</servlet-name>
        <servlet-class>com.tithi.bookworm.Rate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bp</servlet-name>
        <servlet-class>com.tithi.bookworm.bookPage_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>com.tithi.bookworm.EditProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bookShelf</servlet-name>
        <url-pattern>/bookShelf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bp</servlet-name>
        <url-pattern>/bp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shelf</servlet-name>
        <url-pattern>/Shelf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rate</servlet-name>
        <url-pattern>/Rate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
